@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

html{
  background: #fff;
}
body{
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  padding: 114px 0 0 0;
  color: rgba(0,0,0,.8);
}

strong,h1,h2, h3,h4.h5.h6{
  font-variant: 700;
  margin: 0 0 10px 0;
  padding: 0;
}

h3{
  font-size: 15px;
}


.app-bar{
  background: #607D8B;
  padding: 0 16px;
  color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.brand{
  line-height: 56px;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

nav{
  background: #455A64;
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
}

nav ul{
  margin: 0;
  list-style: none;
  padding: 0;
  zoom: 1;
  overflow: auto;
}

nav ul li{
  float: left;
  width: 50%;
  text-align: center;
  line-height: 46px;
  text-transform: uppercase;
}

nav ul li a{
  display: block;
  color: #fff;
  text-decoration: none;
}

nav ul li.active a{
  border-bottom: 2px solid #FFEB3B;
}

.category-list{
  border-right: 1px solid rgba(0,0,0,.05);
  padding: 16px 16px 0 16px;
}

.category label{
  padding: 2px 16px 2px 55px;
  margin: 0 -16px;
  position: relative;
  border-bottom: 1px solid rgba(0,0,0,.05);
}

.delete-btn{
  background: #F44336;
  color: #fff;
  padding: 0 10px;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: none;
}

.delete-btn:hover{
  background: #D32F2F;
}

.category label:hover .delete-btn{
  display: block;
}

.category label:before{
  border: 3px solid #ccc;
  border-radius: 13px;
  content: ".";
  height: 20px;
  left: 22px;
  position: absolute;
  text-indent: -99999px;
  top: 4px;
  width: 20px;
}

.category label:after{
  /*  border-radius: 9px;
    content: ".";
    height: 16px;
    text-indent: -99999px;
    width: 16px;
  */
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  cursor: pointer;
  display: block;
  line-height: 30px;
  /* border-radius: 15px;
   margin-bottom: 2px;
  */
}

input[type=checkbox] + label:hover {
  background: rgba(0,0,0,.05);
}

input[type=checkbox]:checked + label:before {
  border-color: #8BC34A;
  /*  box-shadow: 0 1px 3px rgba(0,0,0,.5);*/
}

input[type=checkbox]:checked + label:after {
  font-family: FontAwesome;
  content: "\f00c";
  position: absolute;
  left: 29px;
  top: 3px;
  color: #8BC34A;
}


.message{
  padding: 0 16px;
  border-bottom: 1px solid rgba(0,0,0,.05);
}
.message p{
  margin: 0 0 16px 0;
}

.message h4{
  margin: 16px 0 5px 0;
  font-size: 11px;
  text-transform: uppercase;
}


.blank-slate{
  margin-top: 100px;
  text-align: center;
  color: #999;
}

p.loader{
  color: #999;
}